body {
  background-color: #62627a71;
}

#trashcan {
  width: 15%;
  position: absolute;
  top: 70px;
  left: 100px;
}

h1 {
  text-align: center;
  padding: 3%;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  display: inline-block;
  /* border-bottom: 1pt solid black; */
}

.form-control {
  display: inline-block;
  margin-bottom: 10px;
}

#todo-title {
  text-align: center;
}

#input-form {
  margin-top: 30px;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 3pt #62627a71 groove;
}

ul {
  padding: none;
  list-style: none;
  /* box-shadow: 0px 0px 2000px 17px; */
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
}

.todo-task {
  /* display: none; */
}

li {
  border-bottom: solid 1pt #41415071;
}
 .done {
   text-decoration-line: line-through;
   color: #41415071;
   opacity: 0;
   border: none;
   display: inline-block;
   transition: 3s ease;
   position: absolute;
   top: 60px;
   left: 50px;
 }

 .undone {
   color: #000;
   display: inline-block;
 }

 #edit-text {
   margin-bottom: 0;
   margin-top: 5px;
   display: none;
 }

 #edit-bar {
   display: inline-block;
 }

 #edit-btn {
   display: none;
   float: none;
 }