h1 {
  text-align: center;
  padding: 3%;
  font-size: 60px;
}

h2 {
  text-align: center;
}

.form-control {
  display: inline-block;
}

#todo-title {
  text-align: center;
}

input {
  width: 100%;
}
#input-form {
  margin-top: 50px;
  padding: 10px;
  border: 1pt solid black;
}

ul {
  padding: none;
  list-style: none;
}

.list-group {
  padding: 10px;
}
